.body--motd {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1.5%;
    padding-bottom: 16%;
    text-align: center;
    font-size: large;
    background: rgb(0,0,3);
    background: linear-gradient(180deg, rgb(16, 16, 27) 0%, rgba(8,8,27,1) 35%, rgba(44,64,68,1) 100%);   
    color:white;
}

.under-construction-img {
    margin-top: 2%;
    width: 20%;
    height: 20%;
}